# Node.js dependencies
node_modules

# Build output (for TypeScript, if applicable)
/dist/
/build/

# Optional: Yarn lock file (if using Yarn)
/yarn.lock

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.*.local

# OS-specific files
.DS_Store
Thumbs.db

# TypeScript compiled files
*.tsbuildinfo

# IDE/Editor specific files
.vscode/
.idea/
*.sublime-workspace

# NPM global modules
.npm/

# Coverage directory for testing tools (like Jest)
coverage/

# TypeScript declaration files
*.d.ts


# Next.js
/nextjs_frontend/.next/
/nextjs_frontend/out/
/nextjs_frontend/build

# Misc
/nextjs_frontend/.DS_Store
/nextjs_frontend/*.pem

# Debug
/nextjs_frontend/npm-debug.log*
/nextjs_frontend/yarn-debug.log*
/nextjs_frontend/yarn-error.log*
/nextjs_frontend.pnpm-debug.log*

# Vercel
/nextjs_frontend/.vercel

# TypeScript
/nextjs_frontend/*.tsbuildinfo
/nextjs_frontend/next-env.d.ts